/*
General Stuff
*/
* {
    font-family: 'Gemunu Libre', sans-serif;
}

.upper-gradient {
    background-image: linear-gradient(#5D7DE9, #4F92E6, #3EADE2, #2EC7DE, #1DE0DA);
}

body {
    height: 100%;
    /* background: #5D7DE9; */
    /* background-image: linear-gradient(#5D7DE9, #4F92E6, #3EADE2, #2EC7DE, #1DE0DA); */
}

h1, h2, .nav-link {
    font-weight: bolder;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

.purple-text {
    color: #104573;
}

.white-text {
    color: white;
}

/*
Navbar
*/

nav {
    height: fit-content;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#navbar-logo {
    width: 361px;
    height: 233px;
    margin-left: 3rem;
}

#navbarNav {
    max-width: 40%;
    margin-right: 3rem;
}

.nav-link {
    font-size: 2.25em;
    font-weight: bolder;
}

/*
Body - Main Page
*/

#main-body {
    margin-left: 6rem;
    margin-right: 6rem;
}

#front-page-img {
    width: 568px;
    height: 546.4px;
    margin-right: 6rem;
}

#to-games-button {
    background-color: #F25922;
    border-radius: 30px;
    font-size: 2.25em;
    font-weight: bolder;
    filter: drop-shadow(0px 4px 5px black);
}

#to-games-button:hover {
    filter: drop-shadow(0px 0px 0px);
    color: white;
}

/* 
Quantum Swag
*/
#quantum-swag {
    background-color: #1DE0DA;
    text-align: center;
    width: 100%;
    padding-bottom: 2rem;
}

#quantum-swag > div {
    margin: 2rem 6rem 0rem 6rem;
}

/* .quantum-swag-link {
    
} */

.quantum-swag, .quantum-game {
    width: 394px;
    height: 426px;
    border: 2px solid #5E90F2;
    transition: transform .2s;
    border-radius: 30px;
   
}

.quantum-game {
    border-color: #000;
}

.quantum-swag:hover, .quantum-game:hover {
    transform: scale(1.1);
}

.ms-2 {
    margin-left: 0rem!important;
}

/*
Footer
*/

#footer {
    /* background: #1DE0DA; */
    background-image: linear-gradient(#1DE0DA, #2EC7DE, #3EADE2, #4F92E6, #5D7DE9);
    border-top: 2px solid #5E90F2;
}

#logo-footer-div {
    width: fit-content;
}

#logo-footer {
    width: 161px;
    height: 129px;
}

.social-media-link {
    width: 50px;
    height: 50px;
    transition: transform .2s;
}

.social-media-link:hover {
    transform: scale(1.25);
}

/*
Game Selection
*/



.game-row-left {
    margin-left: 5rem;
}

.game-row-left > .game-title{
    margin-left: 24rem;
}

.game-row-right {
    margin-right: 5rem;
}

.game-row-right > .game-title {
    margin-right: 24rem;
}

.horizontal-line {
    width: 50%;
    height: 2px;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
}
